# I feel like all of pug files should be removed since you are using React, but I am not familiar with pug templdate. I might be wrong here.
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
