html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.loading {
  color: #3c240f;
  font-family: "Playfair Display", serif;
}

.button {
  position: absolute;
  margin: 2px;
  font-size: 20px;
  color: white;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border: 1px solid #54381e;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 24px;
  text-decoration: none;
  top: 0px;
}

.button:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}
