html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#section1 {
  background: url(../Images/bg2.jpg) center center / cover no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  margin: 0px;
}
#section2 {
  background: url(../Images/bg6.jpg) center center / cover no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  margin: 0px;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar {
  display: block;
  margin: 10px;
  position: fixed;
  width: 99%;
  align-items: end;
  z-index: 2;
}

button {
  padding: 10px;
  margin: 2px;
  float: right;
  font-size: 20px;
  color: white;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border: 1px solid #54381e;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 24px;
  text-decoration: none;
}

button:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}

.main {
  color: #3c240f;
  display: flex;
  font-family: "Playfair Display", serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  font-size: 10vh;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 3.5vh;
  width: 50%;
  padding: 0px;
  margin: 0px;
}

#second {
  width: 60%;
  height: 50%;
  margin: auto;
  background: #57534f;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

a.scroll:hover {
  opacity: 0.5;
}
a.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#section1 a {
  padding-top: 60px;
}
#section1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section2 a {
  padding-top: 40px;
  color: #3c240f;
}
#section2 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #3c240f;
  border-bottom: 1px solid #3c240f;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
